*{
    box-sizing: border-box;
    margin: 0px;
}
.App {
    padding:50px 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 59, 61);
}